:root {
	/* Base Colors */
	--white: #ffffff;
	--black: #000000;
	--transparent: rgba(255, 255, 255, 0);

	/* Gray (light mode) */
	--gray-25: #fcfcfd;
	--gray-50: #fbfbfb;
	--gray-100: #f7f7f7;
	--gray-200: #ececec;
	--gray-300: #dddddd;
	--gray-400: #b3b3b3;
	--gray-500: #858585;
	--gray-600: #676767;
	--gray-700: #545454;
	--gray-800: #303030;
	--gray-900: #282828;
	--gray-950: #1d1d1d;

	/* Gray (dark mode) */
	--gray-dark-25: #fafafa;
	--gray-dark-50: #f5f5f6;
	--gray-dark-100: #f0f1f1;
	--gray-dark-200: #ececed;
	--gray-dark-300: #d2d2d2;
	--gray-dark-400: #9c9c9c;
	--gray-dark-500: #8e8e8e;
	--gray-dark-600: #6c6c6c;
	--gray-dark-700: #414141;
	--gray-dark-800: #2f2f2f;
	--gray-dark-900: #262626;
	--gray-dark-950: #1d1d1d;

	/* Brand */
	--brand-25: #f9f9fa;
	--brand-50: #f5f5f6;
	--brand-100: #e6e6e7;
	--brand-200: #cfcfd2;
	--brand-300: #aeaeb2;
	--brand-400: #85868b;
	--brand-500: #6a6b70;
	--brand-600: #5b5b5f;
	--brand-700: #4d4d51;
	--brand-800: #444546;
	--brand-900: #3b3b3e;
	--brand-950: #2f2f31;

	/* Error */
	--error-25: #fffbfa;
	--error-50: #fef3f2;
	--error-100: #fee4e2;
	--error-200: #fecdca;
	--error-300: #fda29b;
	--error-400: #f97066;
	--error-500: #f04438;
	--error-600: #d92d20;
	--error-700: #b42318;
	--error-800: #912018;
	--error-900: #7a271a;
	--error-950: #55160c;

	/* Warning */
	--warning-25: #fffcf5;
	--warning-50: #fffaeb;
	--warning-100: #fef0c7;
	--warning-200: #fedf89;
	--warning-300: #fec84b;
	--warning-400: #fdb022;
	--warning-500: #f79009;
	--warning-600: #dc6803;
	--warning-700: #b54708;
	--warning-800: #93370d;
	--warning-900: #7a2e0e;
	--warning-950: #4e1d09;

	/* Success */
	--success-25: #f6fef9;
	--success-50: #ecfdf3;
	--success-100: #d3f8df;
	--success-200: #aaf0c4;
	--success-300: #73e2a3;
	--success-400: #3ccb7f;
	--success-500: #16b364;
	--success-600: #099250;
	--success-700: #087443;
	--success-800: #095c37;
	--success-900: #084c2e;
	--success-950: #052e1c;

	/* Gray Blue */
	--gray-blue-25: #fcfcfd;
	--gray-blue-50: #f8f9fc;
	--gray-blue-100: #eaecf5;
	--gray-blue-200: #d5d9eb;
	--gray-blue-300: #b3b8db;
	--gray-blue-400: #717bbc;
	--gray-blue-500: #4e5ba6;
	--gray-blue-600: #3e4784;
	--gray-blue-700: #363f72;
	--gray-blue-800: #293056;
	--gray-blue-900: #101323;
	--gray-blue-950: #0d0f1c;

	/* Gray Cool */
	--gray-cool-25: #fcfcfd;
	--gray-cool-50: #f9f9fb;
	--gray-cool-100: #eff1f5;
	--gray-cool-200: #dcdfea;
	--gray-cool-300: #b9c0d4;
	--gray-cool-400: #7d89b0;
	--gray-cool-500: #5d6b98;
	--gray-cool-600: #4a5578;
	--gray-cool-700: #404968;
	--gray-cool-800: #30374f;
	--gray-cool-900: #111322;
	--gray-cool-950: #0e101b;

	/* Gray Modern */
	--gray-modern-25: #fcfcfd;
	--gray-modern-50: #f8fafc;
	--gray-modern-100: #eef2f6;
	--gray-modern-200: #e3e8ef;
	--gray-modern-300: #cdd5df;
	--gray-modern-400: #9aa4b2;
	--gray-modern-500: #697586;
	--gray-modern-600: #4b5565;
	--gray-modern-700: #364152;
	--gray-modern-800: #202939;
	--gray-modern-900: #121926;
	--gray-modern-950: #0d121c;

	/* Gray Neutral */
	--gray-neutral-25: #fcfcfd;
	--gray-neutral-50: #f9fafb;
	--gray-neutral-100: #f3f4f6;
	--gray-neutral-200: #e5e7eb;
	--gray-neutral-300: #d2d6db;
	--gray-neutral-400: #9da4ae;
	--gray-neutral-500: #6c737f;
	--gray-neutral-600: #4d5761;
	--gray-neutral-700: #384250;
	--gray-neutral-800: #1f2a37;
	--gray-neutral-900: #111927;
	--gray-neutral-950: #0d121c;

	/* Gray Iron */
	--gray-iron-25: #fcfcfc;
	--gray-iron-50: #fafafa;
	--gray-iron-100: #f4f4f5;
	--gray-iron-200: #e4e4e7;
	--gray-iron-300: #d1d1d6;
	--gray-iron-400: #a0a0ab;
	--gray-iron-500: #70707b;
	--gray-iron-600: #51525c;
	--gray-iron-700: #3f3f46;
	--gray-iron-800: #26272b;
	--gray-iron-900: #1a1a1e;
	--gray-iron-950: #131316;

	/* Gray True */
	--gray-true-25: #fcfcfc;
	--gray-true-50: #f7f7f7;
	--gray-true-100: #f5f5f5;
	--gray-true-200: #e5e5e5;
	--gray-true-300: #d6d6d6;
	--gray-true-400: #a3a3a3;
	--gray-true-500: #737373;
	--gray-true-600: #525252;
	--gray-true-700: #424242;
	--gray-true-800: #292929;
	--gray-true-900: #141414;
	--gray-true-950: #0f0f0f;

	/* Gray Warm */
	--gray-warm-25: #fdfdfc;
	--gray-warm-50: #fafaf9;
	--gray-warm-100: #f5f5f4;
	--gray-warm-200: #e7e5e4;
	--gray-warm-300: #d7d3d0;
	--gray-warm-400: #a9a29d;
	--gray-warm-500: #79716b;
	--gray-warm-600: #57534e;
	--gray-warm-700: #44403c;
	--gray-warm-800: #292524;
	--gray-warm-900: #1c1917;
	--gray-warm-950: #171412;

	/* Moss */
	--moss-25: #fafdf7;
	--moss-50: #f5fbee;
	--moss-100: #e6f4d7;
	--moss-200: #ceeab0;
	--moss-300: #acdc79;
	--moss-400: #86cb3c;
	--moss-500: #669f2a;
	--moss-600: #4f7a21;
	--moss-700: #3f621a;
	--moss-800: #335015;
	--moss-900: #2b4212;
	--moss-950: #1a280b;

	/* Green Light */
	--green-light-25: #fafef5;
	--green-light-50: #f3fee7;
	--green-light-100: #e3fbcc;
	--green-light-200: #d0f8ab;
	--green-light-300: #a6ef67;
	--green-light-400: #85e13a;
	--green-light-500: #66c61c;
	--green-light-600: #4ca30d;
	--green-light-700: #3b7c0f;
	--green-light-800: #326212;
	--green-light-900: #2b5314;
	--green-light-950: #15290a;

	/* Green */
	--green-25: #f6fef9;
	--green-50: #edfcf2;
	--green-100: #d3f8df;
	--green-200: #aaf0c4;
	--green-300: #73e2a3;
	--green-400: #3ccb7f;
	--green-500: #16b364;
	--green-600: #099250;
	--green-700: #087443;
	--green-800: #095c37;
	--green-900: #084c2e;
	--green-950: #052e1c;

	/* Teal */
	--teal-25: #f6fefc;
	--teal-50: #f0fdf9;
	--teal-100: #ccfbef;
	--teal-200: #99f6e0;
	--teal-300: #5fe9d0;
	--teal-400: #2ed3b7;
	--teal-500: #15b79e;
	--teal-600: #0e9384;
	--teal-700: #107569;
	--teal-800: #125d56;
	--teal-900: #134e48;
	--teal-950: #0a2926;

	/* Cyan */
	--cyan-25: #f5feff;
	--cyan-50: #ecfdff;
	--cyan-100: #cff9fe;
	--cyan-200: #a5f0fc;
	--cyan-300: #67e3f9;
	--cyan-400: #22ccee;
	--cyan-500: #06aed4;
	--cyan-600: #088ab2;
	--cyan-700: #0e7090;
	--cyan-800: #155b75;
	--cyan-900: #164c63;
	--cyan-950: #0d2d3a;

	/* Blue Light */
	--blue-light-25: #f5fbff;
	--blue-light-50: #f0f9ff;
	--blue-light-100: #e0f2fe;
	--blue-light-200: #b9e6fe;
	--blue-light-300: #7cd4fd;
	--blue-light-400: #36bffa;
	--blue-light-500: #0ba5ec;
	--blue-light-600: #0086c9;
	--blue-light-700: #026aa2;
	--blue-light-800: #065986;
	--blue-light-900: #0b4a6f;
	--blue-light-950: #062c41;

	/* Blue */
	--blue-25: #f5faff;
	--blue-50: #eff8ff;
	--blue-100: #d1e9ff;
	--blue-200: #b2ddff;
	--blue-300: #84caff;
	--blue-400: #53b1fd;
	--blue-500: #2e90fa;
	--blue-600: #1570ef;
	--blue-700: #175cd3;
	--blue-800: #1849a9;
	--blue-900: #194185;
	--blue-950: #102a56;

	/* Blue Dark */
	--blue-dark-25: #f5f8ff;
	--blue-dark-50: #eff4ff;
	--blue-dark-100: #d1e0ff;
	--blue-dark-200: #b2ccff;
	--blue-dark-300: #84adff;
	--blue-dark-400: #528bff;
	--blue-dark-500: #2970ff;
	--blue-dark-600: #155eef;
	--blue-dark-700: #004eeb;
	--blue-dark-800: #0040c1;
	--blue-dark-900: #00359e;
	--blue-dark-950: #002266;

	/* Indigo */
	--indigo-25: #f5f8ff;
	--indigo-50: #eef4ff;
	--indigo-100: #e0eaff;
	--indigo-200: #c7d7fe;
	--indigo-300: #a4bcfd;
	--indigo-400: #8098f9;
	--indigo-500: #6172f3;
	--indigo-600: #444ce7;
	--indigo-700: #3538cd;
	--indigo-800: #2d31a6;
	--indigo-900: #2d3282;
	--indigo-950: #1f235b;

	/* Violet */
	--violet-25: #fbfaff;
	--violet-50: #f5f3ff;
	--violet-100: #ece9fe;
	--violet-200: #ddd6fe;
	--violet-300: #c3b5fd;
	--violet-400: #a48afb;
	--violet-500: #875bf7;
	--violet-600: #7839ee;
	--violet-700: #6927da;
	--violet-800: #5720b7;
	--violet-900: #491c96;
	--violet-950: #2e125e;

	/* Purple */
	--purple-25: #fafaff;
	--purple-50: #f4f3ff;
	--purple-100: #ebe9fe;
	--purple-200: #d9d6fe;
	--purple-300: #bdb4fe;
	--purple-400: #9b8afb;
	--purple-500: #7a5af8;
	--purple-600: #6938ef;
	--purple-700: #5925dc;
	--purple-800: #4a1fb8;
	--purple-900: #3e1c96;
	--purple-950: #27115f;

	/* Fuchsia */
	--fuchsia-25: #fefaff;
	--fuchsia-50: #fdf4ff;
	--fuchsia-100: #fbe8ff;
	--fuchsia-200: #f6d0fe;
	--fuchsia-300: #eeaafd;
	--fuchsia-400: #e478fa;
	--fuchsia-500: #d444f1;
	--fuchsia-600: #ba24d5;
	--fuchsia-700: #9f1ab1;
	--fuchsia-800: #821890;
	--fuchsia-900: #6f1877;
	--fuchsia-950: #47104c;

	/* Pink */
	--pink-25: #fef6fb;
	--pink-50: #fdf2fa;
	--pink-100: #fce7f6;
	--pink-200: #fcceee;
	--pink-300: #faa7e0;
	--pink-400: #f670c7;
	--pink-500: #ee46bc;
	--pink-600: #dd2590;
	--pink-700: #c11574;
	--pink-800: #9e165f;
	--pink-900: #851651;
	--pink-950: #4e0d30;

	/* Rose */
	--rose-25: #fff5f6;
	--rose-50: #fff1f3;
	--rose-100: #ffe4e8;
	--rose-200: #fecdd6;
	--rose-300: #fea3b4;
	--rose-400: #fd6f8e;
	--rose-500: #f63d68;
	--rose-600: #e31b54;
	--rose-700: #c01048;
	--rose-800: #a11043;
	--rose-900: #89123e;
	--rose-950: #510b24;

	/* Orange Dark */
	--orange-dark-25: #fff9f5;
	--orange-dark-50: #fff4ed;
	--orange-dark-100: #ffe6d5;
	--orange-dark-200: #ffd6ae;
	--orange-dark-300: #ff9c66;
	--orange-dark-400: #ff692e;
	--orange-dark-500: #ff4405;
	--orange-dark-600: #e62e05;
	--orange-dark-700: #bc1b06;
	--orange-dark-800: #97180c;
	--orange-dark-900: #771a0d;
	--orange-dark-950: #57130a;

	/* Orange */
	--orange-25: #fefaf5;
	--orange-50: #fef6ee;
	--orange-100: #fdead7;
	--orange-200: #f9dbaf;
	--orange-300: #f7b27a;
	--orange-400: #f38744;
	--orange-500: #ef6820;
	--orange-600: #e04f16;
	--orange-700: #b93815;
	--orange-800: #932f19;
	--orange-900: #772917;
	--orange-950: #511c10;

	/* Yellow */
	--yellow-25: #fefdf0;
	--yellow-50: #fefbe8;
	--yellow-100: #fef7c3;
	--yellow-200: #feee95;
	--yellow-300: #fde272;
	--yellow-400: #fac515;
	--yellow-500: #eaaa08;
	--yellow-600: #ca8504;
	--yellow-700: #a15c07;
	--yellow-800: #854a0e;
	--yellow-900: #713b12;
	--yellow-950: #542c0d;

	/* Spacing */
	--spacing-0: 0;
	--spacing-0-5: 2px;
	--spacing-1: 4px;
	--spacing-1-5: 6px;
	--spacing-2: 8px;
	--spacing-3: 12px;
	--spacing-4: 16px;
	--spacing-5: 20px;
	--spacing-6: 24px;
	--spacing-8: 32px;
	--spacing-10: 40px;
	--spacing-12: 48px;
	--spacing-16: 64px;
	--spacing-20: 80px;
	--spacing-24: 96px;
	--spacing-32: 128px;
	--spacing-40: 160px;
	--spacing-48: 192px;
	--spacing-56: 224px;
	--spacing-64: 256px;
	--spacing-80: 320px;
	--spacing-96: 384px;
	--spacing-120: 480px;
	--spacing-140: 560px;
	--spacing-160: 640px;
	--spacing-180: 720px;
	--spacing-192: 768px;
	--spacing-256: 1024px;
	--spacing-320: 1280px;
	--spacing-360: 1440px;
	--spacing-400: 1600px;
	--spacing-480: 1920px;
}

.light {
	/* Text Colors */
	--text-primary: var(--gray-900);
	--text-primary-on-brand: var(--white);
	--text-secondary: var(--gray-700);
	--text-secondary-hover: var(--gray-800);
	--text-secondary-on-brand: var(--brand-200);
	--text-tertiary: var(--gray-600);
	--text-tertiary-hover: var(--gray-700);
	--text-tertiary-on-brand: var(--brand-200);
	--text-quaternary: var(--gray-500);
	--text-quaternary-on-brand: var(--brand-300);
	--text-white: var(--white);
	--text-disabled: var(--gray-500);
	--text-placeholder: var(--gray-500);
	--text-placeholder-subtle: var(--gray-300);
	--text-brand-primary: var(--brand-900);
	--text-brand-secondary: var(--brand-700);
	--text-brand-tertiary: var(--brand-600);
	--text-brand-tertiary-alt: var(--brand-600);
	--text-error-primary: var(--error-600);
	--text-warning-primary: var(--warning-600);
	--text-success-primary: var(--success-600);

	/* Border Colors */
	--border-primary: var(--gray-300);
	--border-secondary: var(--gray-200);
	--border-tertiary: var(--gray-100);
	--border-disabled: var(--gray-300);
	--border-disabled-subtle: var(--gray-200);
	--border-brand: var(--brand-500);
	--border-brand-alt: var(--brand-600);
	--border-error: var(--error-500);
	--border-error-subtle: var(--error-300);

	/* Foreground Colors */
	--fg-primary: var(--gray-900);
	--fg-secondary: var(--gray-700);
	--fg-secondary-hover: var(--gray-800);
	--fg-tertiary: var(--gray-600);
	--fg-tertiary-hover: var(--gray-700);
	--fg-quaternary: var(--gray-500);
	--fg-quaternary-hover: var(--gray-600);
	--fg-quinary: var(--gray-400);
	--fg-quinary-hover: var(--gray-500);
	--fg-senary: var(--gray-300);
	--fg-white: var(--white);
	--fg-disabled: var(--gray-400);
	--fg-disabled-subtle: var(--gray-300);
	--fg-brand-primary: var(--brand-600);
	--fg-brand-primary-alt: var(--brand-600);
	--fg-brand-secondary: var(--brand-500);
	--fg-error-primary: var(--error-600);
	--fg-error-secondary: var(--error-500);
	--fg-warning-primary: var(--warning-600);
	--fg-warning-secondary: var(--warning-500);
	--fg-success-primary: var(--success-600);
	--fg-success-secondary: var(--success-500);

	/* Background Colors */
	--bg-primary: var(--white);
	--bg-primary-alt: var(--white);
	--bg-primary-hover: var(--gray-50);
	--bg-primary-solid: var(--gray-950);
	--bg-secondary: var(--gray-50);
	--bg-secondary-alt: var(--gray-50);
	--bg-secondary-hover: var(--gray-100);
	--bg-secondary-subtle: var(--gray-25);
	--bg-secondary-solid: var(--gray-600);
	--bg-tertiary: var(--gray-100);
	--bg-quaternary: var(--gray-200);
	--bg-active: var(--gray-50);
	--bg-disabled: var(--gray-100);
	--bg-disabled-subtle: var(--gray-50);
	--bg-overlay: var(--gray-950);
	--bg-brand-primary: var(--brand-50);
	--bg-brand-primary-alt: var(--brand-50);
	--bg-brand-secondary: var(--brand-100);
	--bg-brand-solid: var(--brand-600);
	--bg-brand-solid-hover: var(--brand-700);
	--bg-brand-section: var(--brand-800);
	--bg-brand-section-subtle: var(--brand-700);
	--bg-error-primary: var(--error-50);
	--bg-error-secondary: var(--error-100);
	--bg-error-solid: var(--error-600);
	--bg-warning-primary: var(--warning-50);
	--bg-warning-secondary: var(--warning-100);
	--bg-warning-solid: var(--warning-600);
	--bg-success-primary: var(--success-50);
	--bg-success-secondary: var(--success-100);
	--bg-success-solid: var(--success-600);

	/* Effects */
	--focus-ring: var(--blue-500);
	--focus-ring-error: var(--error-500);

	/* Shadows */
	--shadow-xs: 0px 1px 2px rgba(16, 24, 40, 0.05);
	--shadow-sm-01: 0px 1px 3px rgba(16, 24, 40, 0.1);
	--shadow-sm-02: 0px 1px 2px rgba(16, 24, 40, 0.06);
	--shadow-md-01: 0px 4px 8px -2px rgba(16, 24, 40, 0.1);
	--shadow-md-02: 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
	--shadow-lg-01: 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
	--shadow-lg-02: 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
	--shadow-xl-01: 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
	--shadow-xl-02: 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
	--shadow-2xl: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
	--shadow-3xl: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
	--shadow-skeumorphic-inner: inset 0px 2px 4px rgba(16, 24, 40, 0.05);
	--shadow-skeumorphic-inner-border: inset 0px 0px 0px 1px rgba(16, 24, 40, 0.18);

	/* Portfolio Mockups */
	--shadow-main-centre-md: 0px 16px 24px -4px rgba(16, 24, 40, 0.14);
	--shadow-main-centre-lg: 0px 24px 40px -8px rgba(16, 24, 40, 0.18);
	--shadow-overlay-lg: 0px 24px 56px -8px rgba(16, 24, 40, 0.12);
	--shadow-grid-md: 0px 8px 16px -4px rgba(16, 24, 40, 0.08);

	/* Alpha Colors */
	--alpha-white-10: rgba(255, 255, 255, 0.1);
	--alpha-white-20: rgba(255, 255, 255, 0.2);
	--alpha-white-30: rgba(255, 255, 255, 0.3);
	--alpha-white-40: rgba(255, 255, 255, 0.4);
	--alpha-white-50: rgba(255, 255, 255, 0.5);
	--alpha-white-60: rgba(255, 255, 255, 0.6);
	--alpha-white-70: rgba(255, 255, 255, 0.7);
	--alpha-white-80: rgba(255, 255, 255, 0.8);
	--alpha-white-90: rgba(255, 255, 255, 0.9);
	--alpha-white-100: #ffffff;
	--alpha-black-10: rgba(0, 0, 0, 0.1);
	--alpha-black-20: rgba(0, 0, 0, 0.2);
	--alpha-black-30: rgba(0, 0, 0, 0.3);
	--alpha-black-40: rgba(0, 0, 0, 0.4);
	--alpha-black-50: rgba(0, 0, 0, 0.5);
	--alpha-black-60: rgba(0, 0, 0, 0.6);
	--alpha-black-70: rgba(0, 0, 0, 0.7);
	--alpha-black-80: rgba(0, 0, 0, 0.8);
	--alpha-black-90: rgba(0, 0, 0, 0.9);
	--alpha-black-100: #000000;

	/* Component-specific colors */
	--app-store-badge-border: #a6a6a6;
	--nav-item-button-icon-fg: var(--gray-500);
	--nav-item-button-icon-fg-active: var(--gray-700);
	--nav-item-icon-fg: var(--gray-500);
	--nav-item-icon-fg-active: var(--gray-500);
	--avatar-bg: var(--gray-100);
	--avatar-profile-photo-border: var(--white);
	--avatar-contrast-border: rgba(0, 0, 0, 0.08);
	--avatar-styles-bg-neutral: #e0e0e0;
	--breadcrumb-fg: var(--gray-600);
	--breadcrumb-fg-hover: var(--gray-700);
	--breadcrumb-bg-hover: var(--gray-50);
	--breadcrumb-brand-fg-hover: var(--brand-700);
	--breadcrumb-brand-bg-hover: var(--brand-50);
	--breadcrumb-icon-fg: var(--gray-500);
	--breadcrumb-icon-fg-hover: var(--gray-700);
	--breadcrumb-brand-icon-fg-hover: var(--brand-700);
	--button-primary-fg: var(--white);
	--button-primary-fg-hover: var(--white);
	--button-primary-bg: var(--brand-900);
	--button-primary-bg-hover: var(--brand-950);
	--button-secondary-fg: var(--gray-700);
	--button-secondary-fg-hover: var(--gray-800);
	--button-secondary-bg: var(--white);
	--button-secondary-bg-hover: var(--gray-50);
	--button-secondary-border: var(--gray-300);
	--button-secondary-border-hover: var(--gray-300);
	--button-secondary-color-fg: var(--brand-700);
	--button-secondary-color-fg-hover: var(--brand-800);
	--button-secondary-color-bg: var(--white);
	--button-secondary-color-bg-hover: var(--brand-50);
	--button-secondary-color-border: var(--brand-300);
	--button-secondary-color-border-hover: var(--brand-300);
	--button-tertiary-fg: var(--gray-600);
	--button-tertiary-fg-hover: var(--gray-700);
	--button-tertiary-bg-hover: var(--gray-50);
	--button-tertiary-color-fg: var(--brand-700);
	--button-tertiary-color-fg-hover: var(--brand-800);
	--button-tertiary-color-bg-hover: var(--brand-50);
	--button-primary-error-fg: var(--white);
	--button-primary-error-fg-hover: var(--white);
	--button-primary-error-bg: var(--error-600);
	--button-primary-error-bg-hover: var(--error-700);
	--button-secondary-error-fg: var(--error-700);
	--button-secondary-error-fg-hover: var(--error-800);
	--button-secondary-error-bg: var(--white);
	--button-secondary-error-bg-hover: var(--error-50);
	--button-secondary-error-border: var(--error-300);
	--button-secondary-error-border-hover: var(--error-300);
	--button-tertiary-error-fg: var(--error-700);
	--button-tertiary-error-fg-hover: var(--error-800);
	--button-tertiary-error-bg-hover: var(--error-50);
	--footer-button-fg: var(--brand-200);
	--footer-button-fg-hover: var(--white);
	--footer-badge-fg: var(--success-700);
	--footer-badge-bg: var(--success-50);
	--footer-badge-border: var(--success-200);
	--header-abstract-50-bg: var(--brand-50);
	--header-abstract-100-bg: var(--brand-100);
	--header-abstract-200-bg: var(--brand-200);
	--header-abstract-300-bg: var(--brand-300);
	--icon-fg-brand: var(--brand-600);
	--icon-fg-brand-on-brand: var(--brand-200);
	--featured-icon-light-fg-brand: var(--brand-600);
	--featured-icon-light-fg-gray: var(--gray-500);
	--featured-icon-light-fg-error: var(--error-600);
	--featured-icon-light-fg-warning: var(--warning-600);
	--featured-icon-light-fg-success: var(--success-600);
	--featured-icon-dark-fg-brand: var(--white);
	--featured-icon-dark-fg-gray: var(--white);
	--featured-icon-dark-fg-error: var(--white);
	--featured-icon-dark-fg-warning: var(--white);
	--featured-icon-dark-fg-success: var(--white);
	--featured-icon-modern-border: var(--gray-200);
	--social-icon-fg-x: #242e36;
	--social-icon-fg-instagram: #000100;
	--social-icon-fg-apple: var(--black);
	--social-icon-fg-github: var(--black);
	--social-icon-fg-angellist: var(--black);
	--social-icon-fg-tumblr: #001935;
	--screen-mockup-border: var(--gray-900);
	--slider-handle-bg: var(--white);
	--slider-handle-border: var(--brand-600);
	--thumbnail-badge-brand-fg: var(--brand-700);
	--thumbnail-badge-success-fg: var(--success-700);
	--toggle-button-fg-disabled: var(--gray-50);
	--tooltip-supporting-text: var(--gray-300);
	--wysiwyg-editor-icon-fg: var(--gray-400);
	--wysiwyg-editor-icon-fg-active: var(--gray-500);
}

.dark {
	/* Text Colors */
	--text-primary: var(--gray-dark-50);
	--text-primary-on-brand: var(--gray-dark-50);
	--text-secondary: var(--gray-dark-300);
	--text-secondary-hover: var(--gray-dark-200);
	--text-secondary-on-brand: var(--gray-dark-300);
	--text-tertiary: var(--gray-dark-400);
	--text-tertiary-hover: var(--gray-dark-300);
	--text-tertiary-on-brand: var(--gray-dark-400);
	--text-quaternary: var(--gray-dark-400);
	--text-quaternary-on-brand: var(--gray-dark-400);
	--text-white: var(--white);
	--text-disabled: var(--gray-dark-500);
	--text-placeholder: var(--gray-dark-500);
	--text-placeholder-subtle: var(--gray-dark-700);
	--text-brand-primary: var(--gray-dark-50);
	--text-brand-secondary: var(--gray-dark-300);
	--text-brand-tertiary: var(--gray-dark-400);
	--text-brand-tertiary-alt: var(--gray-dark-50);
	--text-error-primary: var(--error-400);
	--text-warning-primary: var(--warning-400);
	--text-success-primary: var(--success-400);

	/* Border Colors */
	--border-primary: var(--gray-dark-700);
	--border-secondary: var(--gray-dark-800);
	--border-tertiary: var(--gray-dark-800);
	--border-disabled: var(--gray-dark-700);
	--border-disabled-subtle: var(--gray-dark-800);
	--border-brand: var(--brand-400);
	--border-brand-alt: var(--gray-dark-700);
	--border-error: var(--error-400);
	--border-error-subtle: var(--error-400);

	/* Foreground Colors */
	--fg-primary: var(--white);
	--fg-secondary: var(--gray-dark-300);
	--fg-secondary-hover: var(--gray-dark-200);
	--fg-tertiary: var(--gray-dark-400);
	--fg-tertiary-hover: var(--gray-dark-300);
	--fg-quaternary: var(--gray-dark-400);
	--fg-quaternary-hover: var(--gray-dark-300);
	--fg-quinary: var(--gray-dark-500);
	--fg-quinary-hover: var(--gray-dark-400);
	--fg-senary: var(--gray-dark-600);
	--fg-white: var(--white);
	--fg-disabled: var(--gray-dark-500);
	--fg-disabled-subtle: var(--gray-dark-600);
	--fg-brand-primary: var(--brand-500);
	--fg-brand-primary-alt: var(--gray-dark-300);
	--fg-brand-secondary: var(--brand-500);
	--fg-error-primary: var(--error-500);
	--fg-error-secondary: var(--error-400);
	--fg-warning-primary: var(--warning-500);
	--fg-warning-secondary: var(--warning-400);
	--fg-success-primary: var(--success-500);
	--fg-success-secondary: var(--success-400);

	/* Background Colors */
	--bg-primary: var(--gray-dark-950);
	--bg-primary-alt: var(--bg-secondary);
	--bg-primary-hover: var(--gray-dark-800);
	--bg-primary-solid: var(--bg-secondary);
	--bg-secondary: var(--gray-dark-900);
	--bg-secondary-alt: var(--bg-primary);
	--bg-secondary-hover: var(--gray-dark-800);
	--bg-secondary-subtle: var(--gray-dark-900);
	--bg-secondary-solid: var(--gray-dark-600);
	--bg-tertiary: var(--gray-dark-800);
	--bg-quaternary: var(--gray-dark-700);
	--bg-active: var(--gray-dark-800);
	--bg-disabled: var(--gray-dark-800);
	--bg-disabled-subtle: var(--gray-dark-900);
	--bg-overlay: var(--gray-dark-800);
	--bg-brand-primary: var(--brand-500);
	--bg-brand-primary-alt: var(--bg-secondary);
	--bg-brand-secondary: var(--brand-600);
	--bg-brand-solid: var(--brand-600);
	--bg-brand-solid-hover: var(--brand-500);
	--bg-brand-section: var(--bg-secondary);
	--bg-brand-section-subtle: var(--bg-primary);
	--bg-error-primary: var(--error-500);
	--bg-error-secondary: var(--error-600);
	--bg-error-solid: var(--error-600);
	--bg-warning-primary: var(--warning-500);
	--bg-warning-secondary: var(--warning-600);
	--bg-warning-solid: var(--warning-600);
	--bg-success-primary: var(--success-500);
	--bg-success-secondary: var(--success-600);
	--bg-success-solid: var(--success-600);

	/* Effects */
	--focus-ring: var(--blue-500);
	--focus-ring-error: var(--error-500);

	/* Shadows */
	--shadow-xs: 0px 1px 2px var(--transparent);
	--shadow-sm-01: 0px 1px 3px var(--transparent);
	--shadow-sm-02: 0px 1px 2px var(--transparent);
	--shadow-md-01: 0px 4px 8px -2px var(--transparent);
	--shadow-md-02: 0px 2px 4px -2px var(--transparent);
	--shadow-lg-01: 0px 12px 16px -4px var(--transparent);
	--shadow-lg-02: 0px 4px 6px -2px var(--transparent);
	--shadow-xl-01: 0px 20px 24px -4px var(--transparent);
	--shadow-xl-02: 0px 8px 8px -4px var(--transparent);
	--shadow-2xl: 0px 24px 48px -12px var(--transparent);
	--shadow-3xl: 0px 32px 64px -12px var(--transparent);
	--shadow-skeumorphic-inner: inset 0px 2px 4px rgba(12, 17, 29, 0.05);
	--shadow-skeumorphic-inner-border: inset 0px 0px 0px 1px rgba(12, 17, 29, 0.18);

	/* Portfolio Mockups */
	--shadow-main-centre-md: 0px 16px 24px -4px var(--transparent);
	--shadow-main-centre-lg: 0px 24px 40px -8px var(--transparent);
	--shadow-overlay-lg: 0px 24px 56px -8px var(--transparent);
	--shadow-grid-md: 0px 8px 16px -4px var(--transparent);

	/* Alpha Colors */
	--alpha-white-10: rgba(12, 17, 29, 0.1);
	--alpha-white-20: rgba(12, 17, 29, 0.2);
	--alpha-white-30: rgba(12, 17, 29, 0.3);
	--alpha-white-40: rgba(12, 17, 29, 0.4);
	--alpha-white-50: rgba(12, 17, 29, 0.5);
	--alpha-white-60: rgba(12, 17, 29, 0.6);
	--alpha-white-70: rgba(12, 17, 29, 0.7);
	--alpha-white-80: rgba(12, 17, 29, 0.8);
	--alpha-white-90: rgba(12, 17, 29, 0.9);
	--alpha-white-100: var(--gray-dark-950);
	--alpha-black-10: rgba(255, 255, 255, 0.1);
	--alpha-black-20: rgba(255, 255, 255, 0.2);
	--alpha-black-30: rgba(255, 255, 255, 0.3);
	--alpha-black-40: rgba(255, 255, 255, 0.4);
	--alpha-black-50: rgba(255, 255, 255, 0.5);
	--alpha-black-60: rgba(255, 255, 255, 0.6);
	--alpha-black-70: rgba(255, 255, 255, 0.7);
	--alpha-black-80: rgba(255, 255, 255, 0.8);
	--alpha-black-90: rgba(255, 255, 255, 0.9);
	--alpha-black-100: var(--white);

	/* Component-specific colors */
	--app-store-badge-border: var(--white);
	--nav-item-button-icon-fg: var(--gray-dark-400);
	--nav-item-button-icon-fg-active: var(--gray-dark-200);
	--nav-item-icon-fg: var(--gray-dark-400);
	--nav-item-icon-fg-active: var(--gray-dark-200);
	--avatar-bg: var(--gray-dark-800);
	--avatar-profile-photo-border: var(--gray-dark-950);
	--avatar-contrast-border: rgba(255, 255, 255, 0.12);
	--avatar-styles-bg-neutral: #e0e0e0;
	--breadcrumb-fg: var(--gray-dark-300);
	--breadcrumb-fg-hover: var(--white);
	--breadcrumb-bg-hover: var(--gray-dark-800);
	--breadcrumb-brand-fg-hover: var(--white);
	--breadcrumb-brand-bg-hover: var(--gray-dark-800);
	--breadcrumb-icon-fg: var(--gray-dark-400);
	--breadcrumb-icon-fg-hover: var(--white);
	--breadcrumb-brand-icon-fg-hover: var(--white);
	--button-primary-fg: var(--white);
	--button-primary-fg-hover: var(--white);
	--button-primary-bg: var(--brand-600);
	--button-primary-bg-hover: var(--brand-700);
	--button-secondary-fg: var(--gray-dark-300);
	--button-secondary-fg-hover: var(--gray-dark-100);
	--button-secondary-bg: var(--gray-dark-900);
	--button-secondary-bg-hover: var(--gray-dark-800);
	--button-secondary-border: var(--gray-dark-700);
	--button-secondary-border-hover: var(--gray-dark-700);
	--button-secondary-color-fg: var(--gray-dark-300);
	--button-secondary-color-fg-hover: var(--gray-dark-100);
	--button-secondary-color-bg: var(--gray-dark-900);
	--button-secondary-color-bg-hover: var(--gray-dark-800);
	--button-secondary-color-border: var(--gray-dark-700);
	--button-secondary-color-border-hover: var(--gray-dark-700);
	--button-tertiary-fg: var(--gray-dark-400);
	--button-tertiary-fg-hover: var(--gray-dark-200);
	--button-tertiary-bg-hover: var(--gray-dark-800);
	--button-tertiary-color-fg: var(--gray-dark-300);
	--button-tertiary-color-fg-hover: var(--gray-dark-100);
	--button-tertiary-color-bg-hover: var(--gray-dark-800);
	--button-primary-error-fg: var(--white);
	--button-primary-error-fg-hover: var(--white);
	--button-primary-error-bg: var(--error-600);
	--button-primary-error-bg-hover: var(--error-700);
	--button-secondary-error-fg: var(--error-200);
	--button-secondary-error-fg-hover: var(--error-100);
	--button-secondary-error-bg: var(--error-950);
	--button-secondary-error-bg-hover: var(--error-900);
	--button-secondary-error-border: var(--error-800);
	--button-secondary-error-border-hover: var(--error-700);
	--button-tertiary-error-fg: var(--error-300);
	--button-tertiary-error-fg-hover: var(--error-200);
	--button-tertiary-error-bg-hover: var(--error-900);
	--footer-button-fg: var(--gray-dark-300);
	--footer-button-fg-hover: var(--gray-dark-100);
	--footer-badge-fg: var(--white);
	--footer-badge-bg: rgba(255, 255, 255, 0.1);
	--footer-badge-border: rgba(255, 255, 255, 0.3);
	--header-abstract-50-bg: var(--gray-dark-900);
	--header-abstract-100-bg: var(--gray-dark-800);
	--header-abstract-200-bg: var(--gray-dark-700);
	--header-abstract-300-bg: var(--gray-dark-600);
	--icon-fg-brand: var(--gray-dark-400);
	--icon-fg-brand-on-brand: var(--gray-dark-400);
	--featured-icon-light-fg-brand: var(--brand-200);
	--featured-icon-light-fg-gray: var(--gray-dark-200);
	--featured-icon-light-fg-error: var(--error-200);
	--featured-icon-light-fg-warning: var(--warning-200);
	--featured-icon-light-fg-success: var(--success-200);
	--featured-icon-dark-fg-brand: var(--brand-200);
	--featured-icon-dark-fg-gray: var(--gray-dark-200);
	--featured-icon-dark-fg-error: var(--error-200);
	--featured-icon-dark-fg-warning: var(--warning-200);
	--featured-icon-dark-fg-success: var(--success-200);
	--featured-icon-modern-border: var(--gray-dark-700);
	--social-icon-fg-x: var(--white);
	--social-icon-fg-instagram: var(--white);
	--social-icon-fg-apple: var(--white);
	--social-icon-fg-github: var(--white);
	--social-icon-fg-angellist: var(--white);
	--social-icon-fg-tumblr: var(--white);
	--screen-mockup-border: var(--gray-dark-700);
	--slider-handle-bg: var(--brand-500);
	--slider-handle-border: var(--gray-dark-950);
	--thumbnail-badge-brand-fg: var(--gray-dark-300);
	--thumbnail-badge-success-fg: var(--gray-dark-300);
	--toggle-button-fg-disabled: var(--gray-dark-600);
	--tooltip-supporting-text: var(--gray-dark-300);
	--wysiwyg-editor-icon-fg: var(--gray-dark-400);
	--wysiwyg-editor-icon-fg-active: var(--white);
}
